.mkt p {
    max-width: 100%}
.mkt a.btn, .mkt .btn {
    margin-right: 5px;
}
.mkt a.btn+a.btn, .mkt .btn+.btn {
    margin-left: 0;
}
.mkt * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mkt *:before, .mkt *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.mkt a {
    background-color: transparent;
}
.mkt a:active, .mkt a:hover {
    outline: 0;
}

html .mkt {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body .mkt {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px !important;
    line-height: 1.42857;
    color: #333;
}
.mkt a {
    color: #007FAC;
    text-decoration: none;
}
.mkt a:hover, .mkt a:focus {
    color: #004760;
    text-decoration: underline;
}
.mkt a:focus {
    outline: thin dotted;
}
.mkt h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
.mkt .btn {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: inline-block;
    margin-bottom: 0;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mkt .btn:hover, .mkt .btn:focus, .mkt .btn.focus {
    color: inherit;
    text-decoration: none;
}
.mkt .btn-secondary {
    color: #fff;
    background-color: #36758c;
    border-color: #2f667a;
}
.mkt .btn-secondary:hover {
    color: #fff;
    background-color: #285667;
    border-color: #1e414d;
}
.mkt label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.mkt h1, .mkt h2, .mkt h3, .mkt h4, .mkt h5, .mkt h6, .mkt .h1, .mkt .h2, .mkt .h3, .mkt .h4, .mkt .h5, .mkt .h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-weight: 600 !important;
    line-height: 1.15 !important;
    color: #333;
}
.mkt h1, .mkt .h1, .mkt h2, .mkt .h2, .mkt h3, .mkt .h3 {
    margin-top: 17px;
    margin-bottom: 8.5px;
}
.mkt h4, .mkt .h4, .mkt h5, .mkt .h5, .mkt h6, .mkt .h6 {
    margin-top: 8.5px;
    margin-bottom: 8.5px;
}
.mkt h1, .mkt .h1 {
    font-size: 31px;
}
.mkt h2, .mkt .h2 {
    font-size: 25px;
}
.mkt h3, .mkt .h3 {
    font-size: 21px;
}
.mkt h4, .mkt .h4 {
    font-size: 15px;
}
.mkt h5, .mkt .h5 {
    font-size: 12px;
}
.mkt h6, .mkt .h6 {
    font-size: 11px;
}
.mkt p {
    margin: 0 0 8.5px;
    width: auto !important;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
    line-height: 1.42857;
}

.mkt .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.mkt .container:before, .mkt .container:after {
    content: " ";
    display: table;
}
.mkt .container:after {
    clear: both;
}
@media (min-width: 768px) {
    .mkt .container {
    width: 750px;
}
}@media (min-width: 992px) {
    .mkt .container {
    width: 970px;
}
}@media (min-width: 1200px) {
    .mkt .container {
    width: 1170px;
}
}
.mkt .container .bg-full-width {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .mkt .container .bg-full-width {
    width: 500%;
    margin-left: -200%;
    padding: 0;
}
}.mkt .container .bg-full-width>.bg-full-width-inner {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
@media (min-width: 768px) {
    .mkt .container .bg-full-width>.bg-full-width-inner {
    margin: 0 auto;
    position: relative;
    width: 750px;
}
}
@media (min-width: 992px) {
    .mkt .container .bg-full-width>.bg-full-width-inner {
    width: 970px;
}
}
@media (min-width: 1200px) {
    .mkt .container .bg-full-width>.bg-full-width-inner {
    width: 1170px;
}
}
.mkt .row {
    margin-left: -15px;
    margin-right: -15px;
}
.mkt .row:before, .mkt .row:after {
    content: " ";
    display: table;
}
.mkt .row:after {
    clear: both;
}
.mkt .bg-white {
    background-color: #fff;
}
.mkt .larger-padding-bottom {
    padding-bottom: 45px !important;
}
.mkt .form-control {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1.42857;
    color: #888;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s;
    -moz-transition: border-color ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s;
}
.mkt .form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.mkt .large-padding-top {
    padding-top: 30px !important;
}
.mkt .large-padding-bottom {
    padding-bottom: 30px !important;
}
.mkt .text-reverse {
    color: #fff !important;
}
.mkt .bg-grey-light {
    background-color: #ececed;
}
.mkt .padding-top {
    padding-top: 15px !important;
}
.mkt .padding-bottom {
    padding-bottom: 15px !important;
}
.mkt .form-group {
    margin-bottom: 15px;
}
.mkt table {
    border: none;
    border-collapse: collapse;
    border-spacing: 0;
    background-color: rgba(0, 0, 0, 0);
}
.mkt table td {
    border: none;
}
.mkt table thead tr th {
    border: none;
    background: inherit;
}
.mkt td, .mkt th {
    padding: 0;
}
.mkt th {
    text-align: left;
    font-weight: bold;
}
.mkt .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 17px;
}
.mkt .table-condensed>thead>tr>th,.mkt .table-condensed>thead>tr>td,.mkt .table-condensed>tbody>tr>th,.mkt .table-condensed>tbody>tr>td,.mkt .table-condensed>tfoot>tr>th,.mkt .table-condensed>tfoot>tr>td{
    padding:5px !important}
.mkt .table>thead>tr>th, .mkt .table>thead>tr>td, .mkt .table>tbody>tr>th, .mkt .table>tbody>tr>td, .mkt .table>tfoot>tr>th, .mkt .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.mkt .table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.mkt .table>tbody+tbody {
    border-top: 2px solid #ddd;
}


.mkt .table>thead>tr>th,.mkt .table>thead>tr>td,.mkt .table>tbody>tr>th,.mkt .table>tbody>tr>td,.mkt .table>tfoot>tr>th,.mkt .table>tfoot>tr>td{padding:8px;line-height:1.42857;vertical-align:top;border-top:1px solid #ddd}
.mkt .table>caption+thead>tr:first-child>th,.mkt .table>caption+thead>tr:first-child>td,.mkt .table>colgroup+thead>tr:first-child>th,.mkt .table>colgroup+thead>tr:first-child>td,.mkt .table>thead:first-child>tr:first-child>th,.mkt .table>thead:first-child>tr:first-child>td{border-top:0}
.mkt .table .table{background-color:#fff}


.mkt .table>thead>tr>td.warning,.mkt .table>thead>tr>th.warning,.mkt .table>thead>tr.warning>td,.mkt .table>thead>tr.warning>th,.mkt .table>tbody>tr>td.warning,.mkt .table>tbody>tr>th.warning,.mkt .table>tbody>tr.warning>td,.mkt .table>tbody>tr.warning>th,.mkt .table>tfoot>tr>td.warning,.mkt .table>tfoot>tr>th.warning,.mkt .table>tfoot>tr.warning>td,.mkt .table>tfoot>tr.warning>th{background-color:#fcd0a6}
.mkt .table-hover>tbody>tr>td.warning:hover,.mkt .table-hover>tbody>tr>th.warning:hover,.mkt .table-hover>tbody>tr.warning:hover>td,.mkt .table-hover>tbody>tr:hover>.warning,.mkt .table-hover>tbody>tr.warning:hover>th{background-color:#fbc38e}
.mkt .table>thead>tr>td.danger,.mkt .table>thead>tr>th.danger,.mkt .table>thead>tr.danger>td,.mkt .table>thead>tr.danger>th,.mkt .table>tbody>tr>td.danger,.mkt .table>tbody>tr>th.danger,.mkt .table>tbody>tr.danger>td,.mkt .table>tbody>tr.danger>th,.mkt .table>tfoot>tr>td.danger,.mkt .table>tfoot>tr>th.danger,.mkt .table>tfoot>tr.danger>td,.mkt .table>tfoot>tr.danger>th{background-color:#eea399}

